<div class="row">
	<h3 class="span4 center-text pad-top text-green">Click an Entry Below</h3>
	<h3 class="span4 center-text">OR</h3>
	<div class="span4 center-text">
		<button id="new-entry" class="btn btn-large btn-primary" type="button">Create a New Entry</button>
	</div>
</div>
<%= render :partial => 'entries/entries' %>

<script>
	$(document).ready(function() {
	  $('#new-entry').on('click', function(event) {
	  event.preventDefault();
	
		$('#outer-body')
	  });
	
	});
</script>