<div class="row">
	<h3 class="span4 center-text pad-top text-green">Click an Entry Below</h3>
	<h3 class="span4 center-text">OR</h3>
	<div class="span4 center-text">
		<button id="new-entry" class="btn btn-large btn-primary" type="button" data-id="<%= @form.id %>">Create a New Entry</button>
	</div>
</div>
<%= render :partial => 'entries/entries' %>

<script>
	$(document).ready(function() {
	  $('#new-entry').on('click', function(event) {
	  event.preventDefault();
	
		var formId = $(event.currentTarget).attr("data-id");
	
		$.ajax({
				url: "/forms/" + formId + "/entries/new",
				type: "get",
				success: function(data) {
					var form = data.substring(data.indexOf("<div class=\"entry-form\">"), data.lastIndexOf("</form>")) +"</form></div>";
					form = form.replace("entry-form", "entry-form-short");
					$(".row").html(form);
				}
			});
	  });
		
		$('.entry-table').on('click', 'tr', function(event) {
			var id = $(event.currentTarget).attr("data-id");
			
			$.ajax({
				url: "/entries/" + id + "/edit",
				type:"get",
				success: function(data) {
					var form = data.substring(data.indexOf("<div class=\"entry-form\">"), data.lastIndexOf("</form>")) +"</form></div>";
					form = form.replace("entry-form", "entry-form-short");
					$(".row").html(form);
				}
			});
		});
	});
</script>