<div id="entry-view" class="inline-block">
	<h3 class="span4 center-text pad-top text-green">Click an Entry Below</h3>
	<h3 class="span4 center-text">OR</h3>
	<div class="span4 center-text">
		<button id="new-entry" class="btn btn-large btn-primary" type="button">Create a New Entry</button>
	</div>
</div>
<%= render :partial => 'entries/entries' %>

<script type="application/javascript" src="../assets/javascripts/views/entries_index.js"></script>