<div class="entry-form" data-id="<%= @entry.id %>">
	<h3><%= @form.title %></h3>
	<table class="table table-striped">
		<% @form.fields.each do |field| %>
			<tr>
				<td class="field-display"><%= field.label %></td>
				<td class="data-display"><%= display_attribute(@entry, field) %></td>
			</tr>
		<% end %>
	</table>
</div>