<span>
	<h4><%= form.title %></h4>
	<%= button_to "Form", form_url(form), :method => :get %>
	<%= button_to "Edit", edit_form_url(form), :method => :get %>
	Entries
	<%= button_to "Delete", form_url(form), :method => :delete %>
</span>
<br>