<h3>Sign Up</h3>

<%= render :partial => "layouts/errors" %>

<form action="<%= users_url %>" method="post" accept-charset="utf-8">
	<input type="hidden" 
				 name="authenticity_token"
				 value="<%= form_authenticity_token %>">
	
	<label for="user-username">Username: </label>
	<input type="text" name="user[username]"
				 value="<%= @user.username %>" id="user-username">
	<br>
	
	<label for="user-password">Password: </label>
	<input type="password" name="user[password]" id="user-password">
	<br>

	<label for="user-repeat">Confirm Password: </label>
	<input type="password" name="user[repeat]" id="user-repeat">
	<br>
	
	<p><input class="btn" type="submit" value="Sign Up"></p>
</form>