<div class="inner-body">
	<% if current_user.admin %>
		<div class="pull-right">
			<%= button_to "New Form", new_form_url, :method => :get, :class => "btn btn-info" %>
		</div>
	<% end %>
	<h3>Form Manager</h3>
	<br>

	<%= render :partial => "form", :collection => @forms %>
</div>

<script>
	$(document).ready(function () {
		console.log("Script")
	});
</script>