<div class="inner-body">
	<%= render :partial => "layouts/errors" %>
	
	<div class= "new-form-body">
		<div class="form-toolbar">
			<ul id="myTab" class="nav nav-tabs">
				<li class="add-field-tab active">
					<a href="#add-field" data-toggle="tab">Add a Field</a>
				</li>
				<li class="edit-field-tab">
					<a href="#edit-field" data-toggle="tab">Field Settings</a>
				</li>
				<li class="edit-form-tab">
					<a href="#edit-form" data-toggle="tab">Form Settings</a>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div id="add-field" class="tab-pane fade active in">
					<div class="tab-form">
						<h4>Standard Fields</h4>
						<button id="text-field-btn" class="btn btn-list" type="button">Single Line Text</button>
						<button id="text-area-btn" class="btn btn-list" type="button">Paragraph Text</button>
						<br>
						<br>
						<button id="checkbox-btn" class="btn btn-list" type="button">Checkbox</button>
						<button id="dropdown-btn" class="btn btn-list" type="button">Dropdown</button>
						<br>
						<br>
						<button id="radio-btn" class="btn btn-list" type="button">Multiple Choice</button>
					</div>
				</div>
				<div id="edit-field" class="tab-pane fade">
					<div class="tab-form">
						<!-- append field forms onto tab-form -->
					</div>
				</div>
				<div id="edit-form" class="tab-pane fade">
					<div class="tab-form">
						<form id="save-form-attributes">
							<label for="form-title-attr">Form Title: </label>
							<input type="text" name="form[title]" value="Untitled" id="form-title-attr">
							<br>
							<label for="form-description-attr">Form Description: </label>
							<textarea id="form-description-attr" name="form[description]" rows="4">Create a new form!</textarea>
							<br>
	
							<input type="submit" class="btn btn-primary" value="Save">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="new-form">
			<div id="form">
				<h3 id="form-title">Untitled Form</h3>
				<p id="form-description">Create a new form!</p>
			</div>
			
				<ul id="fields"></ul>
			
		</div>
		<div id="create-form">
			<button id="create-form-btn" class="btn btn-primary pull-right" type="submit">Make Form</button>
			<br>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		var numFields = 0;
		var currClick = null;
		var currField = null;
		
		$("#text-field-btn").on("click", function (event) {
			var textField = JST["text_field"]();
			
			$("#fields").append("<li class=\"field-" + numFields + "\">" + textField + "</li>");
			
			var template = JST["edit_field"];
			var fieldForm = template ({
				id: numFields,
				type: "text_field"
			});
			
			$("#edit-field .tab-form").append(fieldForm);
			numFields++;
		});
		
		$("#text-area-btn").on("click", function (event) {
			var textArea = JST["text_area"];
			$("#fields").append("<li class=\"field-" + numFields + "\">" + textArea() + "</li>");
			
			var template = JST["edit_field"];
			var fieldForm = template ({
				id: numFields,
				type: "text_area"
			});
			
			$("#edit-field .tab-form").append(fieldForm);
			numFields++;
		});
		
		$("#checkbox-btn").on("click", function (event) {
			var checkbox = JST["checkbox"];
			$("#fields").append("<li class=\"field-" + numFields + "\">" + checkbox() + "</li>");

			var template = JST["edit_field"];
			var fieldForm = template ({
				id: numFields,
				type: "check_box"
			});
			
			$("#edit-field .tab-form").append(fieldForm);
			numFields++;
		});
		
		$("#dropdown-btn").on("click", function (event) {
			var dropdown = JST["dropdown"];
			$("#fields").append("<li class=\"field-" + numFields + "\">" + dropdown() + "</li>");
			
			var template = JST["edit_field"];
			var fieldForm = template ({
				id: numFields,
				type: "select"
			});
			
			$("#edit-field .tab-form").append(fieldForm);
			numFields++;
		});
		
		$("#radio-btn").on("click", function (event) {
			var multipleChoice = JST["radio_button"];
			$("#fields").append("<li class=\"field-" + numFields + "\">" + multipleChoice() + "</li>");
			
			var template = JST["edit_field"];
			var fieldForm = template ({
				id: numFields,
				type: "radio_button"
			});
			
			$("#edit-field .tab-form").append(fieldForm);
			numFields++;
		});
		
		$("ul#fields").on("click", "li", function (event) {
			if(currClick) {
				currClick.toggleClass("clicked");
			}
			if(currField != null) {
				$("#field-" + currField).toggleClass("hidden-field-form displayed-field-form")
			}
			
			currClick = $(event.currentTarget)
			currClick.toggleClass("clicked");
			
			currField = currClick[0].className.substring(6,7);
			
			$("li.active").toggleClass("active");
			$("li.edit-field-tab").toggleClass("active");
			
			$("div.active").toggleClass("active in");
			$("div#edit-field").toggleClass("active in");
			
			$("#field-" + currField).toggleClass("hidden-field-form displayed-field-form")
		});
		
		$("#form").on("click", function (event) {
			var title = $('#form-title').text();
			var description = $('#form-description').text();
			
			if(currClick) {
				currClick.toggleClass("clicked");
			}
			
			currClick = $(event.currentTarget)
			currClick.toggleClass("clicked");
			
			$("li.active").toggleClass("active");
			$("li.edit-form-tab").toggleClass("active");
			
			$("div.active").toggleClass("active in");
			$("div#edit-form").toggleClass("active in");
			
			$('#form-title-attr')[0].value = title;
			$('#form-description-attr').text(description);
		});
		
		$("#myTab .add-field-tab").on("click", function(event) {
			if(currClick) {
				currClick.toggleClass("clicked");
				currClick = null
			}
		});
		
		$("#myTab .edit-form-tab").on("click", function(event) {
			var title = $('#form-title').text();
			var description = $('#form-description').text();
			
			if(currClick) {
				currClick.toggleClass("clicked");
				currClick = null
			}
			
			currClick = $("#form");
			currClick.toggleClass("clicked");
			
			$('#form-title-attr')[0].value = title;
			$('#form-description-attr').text(description);
		});
		
		$("#myTab .edit-field-tab").on("click", function(event) {
			if(currClick) {
				currClick.toggleClass("clicked");
				currClick = null
			}
			
			if(currField != null) {
				if ($("#field-" + currField)[0].className == "displayed-field-form") {
					$("#field-" + currField).toggleClass("hidden-field-form displayed-field-form")
				}
			}
			
			if ($("ul#fields").html() == "") {
				var textField = JST["text_field"];
				$("#fields").append("<li class=\"field-" + numFields + "\">" + textField() + "</li>");
				
				var template = JST["edit_field"];
				var fieldForm = template ({
					id: numFields,
					type: "text_field"
				});
			
				$("#edit-field .tab-form").append(fieldForm);
				numFields++;
			}
			
			currClick = $("ul#fields li.field-0");
			currField = 0;
			$("#field-0").toggleClass("hidden-field-form displayed-field-form");
			currClick.toggleClass("clicked");
		});
		
		$("#save-form-attributes").on("submit", function(event) {
			event.preventDefault();
		
			var data = $(event.target).serializeJSON();
		
			$('#form-title').text(data.form.title);
			$('#form-description').text(data.form.description);
		});
		
		$("#create-form-btn").on("click", function(event) {
			var form = $("#save-form-attributes").serializeJSON().form;
			var fields = [];
			
			for (var i = 0; i < numFields; i++) {
				var field = $("#field-" + i).serializeJSON();
				fields.push(field);
			}
			
			$.ajax({
				url: "/forms",
				type: "post",
				data: {
					form: form,
					fields: fields
				},
				success: function(data) {
					window.location.replace("/forms");
				}
			})
		});
	});
</script>