<%= button_to "All Forms", user_url(current_user), :method => :get %>

<h4><%= @form.title %></h4>
<p>Description: <%= @form.description %></p>

<%= button_to "Add Field", new_form_field_url(@form), :method => :get %>