// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, th, td
{
border: 1px solid gray;
}
.navbar-table {
	background-color: #2E2E2E;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	height: 200px;
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 5px;
}
.table-title {
	color: yellow;
}
.table-header {
	color: white;
	min-width: 98%;
	width: auto;
	background-color: #585858;
}
.table-column {
	width: 20%;
}
.entry-table {
	background-color: white;
	min-width: 98%;
	width: auto
}
.bold {
	font-weight: bold;
}
.text-box {
	width: 300px;
}
.label {
	width: 200px;
	color: black;
	background-color: white;
}
.entry-form {
	width: 65%;
	height: 600px;
	overflow: auto;
	background-color: white;
	border-left: 10px;
	border-right: 10px #EFFBFB;
	padding: 2%;
	margin-left: 16%;
	margin-right:16%;
}
.entry-form-short {
	width: 65%;
	height: 400px;
	overflow: auto;
	background-color: white;
	border-left: 10px;
	border-right: 10px #EFFBFB;
	padding: 2%;
	margin-left: 16%;
	margin-right:16%;
}
.pad-top {
	padding-top: 15%;
}
.text-green {
	color: green;
}
.center-text {
  float: none;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
}