// Place all the styles related to the Fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-list {
	width: 150px;
}
#fields {
	list-style-type: none;
	padding-right: 20px;
}
#fields li {
	padding-left: 10px;
	padding-bottom: 10px;
}
.clicked {
	background-color: #87ea00;
	border: 1px dotted;
}