// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inner-body {
	width: 90%;
	padding: 2%;
	border: 3px solid gray;
	border-radius: 10px;
	margin: 3%;
	background-color: #EFFBFB;
}

.el-show {
	border: 3px solid gray;
	border-radius: 5px;
	background-color :#ffffff;
}
.el-title {
	background-color: #CEE3F6;
	padding: 5px;
	margin: 0;
}