// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outer-body {
	margin-right: auto;
	margin-left: auto;
	width: 94%;
	min-height: 85%;
	background-color: #f2f2f2;
	padding-top: 2%;
}

.inner-body {
	width: 90%;
	padding: 2%;
	border: 2px solid gray;
	border-radius: 10px;
	margin: 3%;
	background-color: #CEE3F6;
	padding-bottom: 1%;
}

.el-show {
	border: 2px solid gray;
	border-radius: 5px;
	background-color :#ffffff;
}
.el-title {
	background-color: #81BEF7;
	padding: 5px;
	margin: 0;
}
.center {
  float: none;
  margin-left: auto;
	margin-right: auto;
}
.form-toolbar {
	margin-left: 5px;
	border: 2px solid gray;
	width: 42%;
	min-height: 500px;
	background-color: #ffffff;
	display: inline-block;
	float: left;
}
.new-form {
	border: 2px solid gray;
	width: 56%;
	min-height: 500px;
	background-color: #ffffff;
	display: inline-block;
	margin-left: -6px;
}
#form {
	padding-left: 10px;
}
.tab-form {
	padding-left: 10px;
}
#create-form {
	padding: 10px;
}