<h3>Add Field</h3>

<%= render :partial => "layouts/errors" %>

<form action="<%= form_fields_url(@form.id) %>" method="post" 
			accept-charset="utf-8">
	<input type="hidden" 
				 name="authenticity_token"
				 value="<%= form_authenticity_token %>">
				 
	<label for="field-label">Field Label: </label>
	<input type="text" name="field[label]" id="field-label">
	<br>
	
	<label for="field-type">Field Type: </label>
	<select name="field[type]" id="field-type">
		<option value="text">Single Line Text</option>
		<option value="textarea">Paragraph Text</option>
		<option value="checkbox">Checkbox</option>
		<option value="select">Dropdown</option>
		<option value-"radio">Multiple Choice</option>
	</select>
	<br>
	
	<label for="field-required">Required</label>
	<input type="checkbox" name="field[required]" value="t" id="field-required">
	<br>
	
	<label for="field-unique">No Duplicates</label>
	<input type="checkbox" name="field[uniqueness]" value="t" id="field-unique">
	<br>
							 
	<p><input type="submit" value="Create Field"></p>
</form>