<label class="bold" for="checkbox">Untitled</label>
<div class="choices">
	<div class="choice-1">
		<label class="label" for="first-choice">First Choice</label>
		<input type="checkbox"id="first-choice" disabled>
	</div>

	<div class="choice-2">
		<label class="label" for="second-choice">Second Choice</label>
		<input type="checkbox"id="second-choice" disabled>
	</div>
	
	<div class="choice-3">
		<label class="label" for="third-choice">Third Choice</label>
		<input type="checkbox"id="third-choice" disabled>
	</div>
</div>