<li>
	Check All That Apply
	<label for="first-choice">First Choice</label>
	<input type="checkbox"id="first-choice">
	
	<label for="second-choice">Second Choice</label>
	<input type="checkbox"id="second-choice">
	
	<label for="third-choice">Third Choice</label>
	<input type="checkbox"id="third-choice">
</li>