<h5>Check All That Apply</h5>
	
<div>
	<label class="label" for="first-choice">First Choice</label>
	<input type="checkbox"id="first-choice" disabled>
</div>

<div>
	<label class="label" for="second-choice">Second Choice</label>
	<input type="checkbox"id="second-choice" disabled>
</div>

<div>
	<label class="label" for="third-choice">Third Choice</label>
	<input type="checkbox"id="third-choice" disabled>
</div>