<li>
	<label for="select">Make a Choice</label>
	<select id="select">
		<option value="first-choice">First Choice</option>
		<option value="second-choice">Second Choice</option>
		<option value="third-choice">Third Choice</option>
	</select>
</li>