<label class="bold" for="select">Untitled</label>
<select id="select" disabled>
		<option id="choice-1">First Choice</option>
		<option id="choice-2">Second Choice</option>
		<option id="choice-3">Third Choice</option>
</select>