<div class="tab-form">
	<label for="form-title">Form Title</label>
	<input type="text" name="form[title]" value="<%= form.title %>" id="form-title">
	<br>
	<label for="form-description">Form Description</label>
	<textarea id="form-description" name="form[description]" rows="4"><%= form.description %></textarea>
	<br>
	<button class="btn btn-primary" type="button">Save</button>
</div>