<div>
	<div class="inline-block">
		<button class="btn btn-primary btn-square new" type="button">New</button>
		<button class="btn btn-info btn-square edit" type="button">Edit</button>
		<button class="btn btn-warning btn-square email" type="button">Email</button>
		<button class="btn btn-danger btn-square delete" type="button">Delete</button>
	</div>
</div>

<script type="application/javascript" src="../javascripts/views/entry_sidebar.js"></script>