<label class="bold" for="radio_button">Untitled</label>
<div class="chocies">
	
	<div class="choice-1">
		<label class="label" for="first-choice">First Choice</label>
		<input id="first-choice" type="radio" disabled>
	</div>
	
	<div class="choice-2">
		<label class="label" for="second-choice">Second Choice</label>
		<input id="second-choice" type="radio" disabled>
	</div>
	
	<div class="choice-3">
		<label class="label" for="third-choice">Third Choice</label>
		<input id="third-choice" type="radio" disabled>
	</div>
</div>