<li>
	Make a Choice
	<label for="first-choice">First Choice</label>
	<input type="radio">
	
	<label for="second-choice">Second Choice</label>
	<input type="radio">
	
	<label for="third-choice">Third Choice</label>
	<input type="radio">
</li>