<div class="inner-body">
	<% if current_user.admin %>
		<div class="pull-right">
			<%= button_to "New User", new_user_url, :method => :get, :class => "btn btn-info" %>
		</div>
	<% end %>
	<h3>User Manager</h3>
	<div class="row">
		<div class="span4">
			<%= render :partial => "user", :collection => @account.users %>
		</div>
		<div class="span5 offset4">
			
		</div>
	</div>
</div>